<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
</head>
<body>

<p>category: {{ article.category}}</p>
<p>created by : {{ article.author}}</p>
<p>posted at : {{ article.created_at}}</p>
<p>{{ article.content }}</p>
</body>
</html>